<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
<!-- Begining of new navbar -->
<nav class="navbar navbar-expand-md" id="navigation-contorl">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="./medicine-logo.png" class="medical-logo-navbar" alt="medical-logo"> <span class="first-text-logo">RE</span><span class="second-text-logo">MEDIC</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navigation-contorl" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link menu" aria-current="page" href="#">Home</a>
          <a class="nav-link menu" href="#">About</a>
          <a class="nav-link menu" href="#">Department</a>
          <a class="nav-link menu" href="#">Doctors</a>
          <a class="nav-link menu" href="#">Blog</a>
          <a class="nav-link menu" href="#">Contact</a>

        </div>
      </div>
    </div>
  </nav>
<!-- End of new navbar -->

<!-- Begining of body -->
<div class="container">
    <h4 style="text-align: center;">About Remedic Medical System</h4>
    <p class="container" style="text-align:justify">Remedic Management System is an organized computerized system designed and programmed to deal with day to day operations and management of the hospital activities. The program can look after inpatients, outpatients, records, database treatments, status illness, billings in the pharmacy and labs. It also maintains hospital information such as ward id, doctors in charge and department administering. The major problem for the patient nowadays to get report after consultation , many hospital managing reports in their system but it's not available to the patient when he / she is outside. In this project we are going to provide the extra facility to store the report in the database and make available from anywhere in the world.</p>
    <h4 style="text-align: center;">Features of the System</h4>
    <p class="container" style="text-align: justify;">The project Hospital Management system includes registration of patients, storing their details into the system, and also computerized billing in the pharmacy, and labs. The software has the facility to give a unique id for every patient and stores the details of every patient and the staff automatically. It includes a search facility to know the current status of each room. User can search availability of a doctor and the details of a patient using the id. The Hospital Management System can be entered using a username and password. It is accessible either by an administrator or receptionist. Only they can add data into the database. The data can be retrieved easily. The interface is very user-friendly. The data are well protected for personal use and makes the data processing very fast.</p>
    <h4 style="text-align: center;">Scope of the system</h4>
    <p class="container" style="text-align: justify;">
        Information about Patients is done by just writing the Patients name, age and gender. Whenever the Patient comes up his information is stored freshly.
        Bills are generated by recording price for each facility provided to Patient on a separate sheet and at last they all are summed up.
        Diagnosis information to patients is generally recorded on the document, which contains Patient information. It is destroyed after some time period to decrease the paper load in the office.
        Information about various diseases is not kept as any document. Doctors themselves do this job by remembering various medicines.</p>
</div>
<!-- end of form -->
<!-- Footer -->
<div class="footer">
  <div class="footer-logo">
      <h5 class="first-text-logo"><img class="medical-logo-navbar" src="./medicine-logo.png" alt="medicine-logo">RE<span class="second-text-logo">MEDIC</span></h5>
  </div>
  <div class="menu-list">
      <ul>
          <li> <a href="/">Home</a></li>
          <li> <a href="{% url 'about_page' %}">About</a></li>
          <li> <a href="{% url 'department_page' %}">Departments</a></li>
          <li> <a href="{% url 'doctor_page' %}">Doctors</a></li>
          <li> <a href="{% url 'blog_page' %}">Blog</a></li>
          <li> <a href="{% url 'conatct_us_page' %}">Contact</a></li>
  </div>
  <!-- <p style="text-align: center; color: white;">&copy; remedic 2022</p> -->
</div>
<!-- end of footer -->
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</html>