<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
<!-- Begining of new navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="./medicine-logo.png" class="medical-logo-navbar" alt="medical-logo"> <span class="first-text-logo">RE</span><span class="second-text-logo">MEDIC</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link menu" aria-current="page" href="#">Home</a>
          <a class="nav-link menu" href="#">About</a>
          <a class="nav-link menu" href="#">Department</a>
          <a class="nav-link menu" href="#">Doctors</a>
          <a class="nav-link menu" href="#">Blog</a>
          <a class="nav-link menu" href="#">Contact</a>

        </div>
      </div>
    </div>
  </nav>
<!-- End of new navbar -->

<!-- Begining of body -->
<h3 style="text-align:center">Departments within the Hospital 🏥</h3>

<!-- Doctors Department -->
<div class="departments-text-holder-1 col-sm container">
    <div class="doctors-text">
        <h3 style="text-align:center">Doctors and Surgeon🩺</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum nobis expedita odit, nam reiciendis tempora totam aliquid rerum cumque voluptatibus velit facere perferendis fugiat at, ab doloremque non nulla? Perspiciatis, tempore vero! Doloremque eveniet facilis iusto ea esse perspiciatis in voluptatum eos facere, alias, aut minus repellendus totam odit distinctio vero natus voluptates. Iste in aperiam vero laborum dolores labore, repellat harum enim voluptatibus sit reprehenderit, a architecto ducimus corporis itaque nam corrupti fuga sed amet facere culpa similique dolorum dolore! Distinctio perspiciatis sequi, atque doloribus enim, unde nesciunt vel et quaerat, labore veniam eum veritatis ratione officia velit delectus?</p>
    </div>
    <img src="./group-doc-1.jpg" alt="group of doctors" class="doctors-group-img">
</div>
<!-- end of doctors department -->
<!-- Nurse and Care givers -->
<div class="departments-text-holder-2 col-sm container">
    <div class="nurse-text">
        <h3 style="text-align:center">Nurse and Care Givers🤱🏻</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum nobis expedita odit, nam reiciendis tempora totam aliquid rerum cumque voluptatibus velit facere perferendis fugiat at, ab doloremque non nulla? Perspiciatis, tempore vero! Doloremque eveniet facilis iusto ea esse perspiciatis in voluptatum eos facere, alias, aut minus repellendus totam odit distinctio vero natus voluptates. Iste in aperiam vero laborum dolores labore, repellat harum enim voluptatibus sit reprehenderit, a architecto ducimus corporis itaque nam corrupti fuga sed amet facere culpa similique dolorum dolore! Distinctio perspiciatis sequi, atque doloribus enim, unde nesciunt vel et quaerat, labore veniam eum veritatis ratione officia velit delectus?</p>
    </div>
    <img src="./nurse-group-2.jpg" alt="group of nurse" class="nurse-group-img">
</div>
<!-- end of nurse and care givers -->
<!-- begining of laboratory -->
<div class="departments-text-holder-1 col-sm container">
    <div class="doctors-text">
        <h3 style="text-align:center">Laboratory🔬</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum nobis expedita odit, nam reiciendis tempora totam aliquid rerum cumque voluptatibus velit facere perferendis fugiat at, ab doloremque non nulla? Perspiciatis, tempore vero! Doloremque eveniet facilis iusto ea esse perspiciatis in voluptatum eos facere, alias, aut minus repellendus totam odit distinctio vero natus voluptates. Iste in aperiam vero laborum dolores labore, repellat harum enim voluptatibus sit reprehenderit, a architecto ducimus corporis itaque nam corrupti fuga sed amet facere culpa similique dolorum dolore! Distinctio perspiciatis sequi, atque doloribus enim, unde nesciunt vel et quaerat, labore veniam eum veritatis ratione officia velit delectus?</p>
    </div>
    <img src="./lab-assistant.jpg" alt="group of doctors" class="doctors-group-img">
</div>
<!-- end of laboratory -->
<!-- Begining of Pharmacy -->
<div class="departments-text-holder-2 col-sm container">
    <div class="nurse-text">
        <h3 style="text-align:center">Pharmacy ⚕ </h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum nobis expedita odit, nam reiciendis tempora totam aliquid rerum cumque voluptatibus velit facere perferendis fugiat at, ab doloremque non nulla? Perspiciatis, tempore vero! Doloremque eveniet facilis iusto ea esse perspiciatis in voluptatum eos facere, alias, aut minus repellendus totam odit distinctio vero natus voluptates. Iste in aperiam vero laborum dolores labore, repellat harum enim voluptatibus sit reprehenderit, a architecto ducimus corporis itaque nam corrupti fuga sed amet facere culpa similique dolorum dolore! Distinctio perspiciatis sequi, atque doloribus enim, unde nesciunt vel et quaerat, labore veniam eum veritatis ratione officia velit delectus?</p>
    </div>
    <img src="./pharmacry.jpg" alt="group of nurse" class="nurse-group-img">
</div>
<!-- end of pharmacy -->



<!-- Footer -->
<div class="footer">
  <div class="footer-logo">
      <h5 class="first-text-logo"><img class="medical-logo-navbar" src="./medicine-logo.png" alt="medicine-logo">RE<span class="second-text-logo">MEDIC</span></h5>
  </div>
  <div class="menu-list">
      <ul>
          <li> <a href="/">Home</a></li>
          <li> <a href="{% url 'about_page' %}">About</a></li>
          <li> <a href="{% url 'department_page' %}">Departments</a></li>
          <li> <a href="{% url 'doctor_page' %}">Doctors</a></li>
          <li> <a href="{% url 'blog_page' %}">Blog</a></li>
          <li> <a href="{% url 'conatct_us_page' %}">Contact</a></li>
  </div>
  <!-- <p style="text-align: center; color: white;">&copy; remedic 2022</p> -->
</div>
<!-- end of footer -->
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</html>