{% load static %}
{% block content %}
<!-- new footer -->
<div class="footer">
    <br>
    <br>
    <div class="footer-logo">
        <h5 class="first-text-logo"><img class="medical-logo-navbar" src="{%  static 'base/images/medicine-logo.png' %}"" alt="medicine-logo">RE<span class="second-text-logo">MEDIC</span></h5>
    </div>
    <div class="menu-list">
        <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="{% url 'about_page' %}">About</a></li>
            <li> <a href="{% url 'department_page' %}">Departments</a></li>
            <li> <a href="{% url 'doctor_page' %}">Doctors</a></li>
            <li> <a href="{% url 'blog_page' %}">Blog</a></li>
            <li> <a href="{% url 'conatct_us_page' %}">Contact</a></li>
    </div>
    <!-- <p style="text-align: center; color: white;">&copy; remedic 2022</p> -->
  </div>
  
<!-- end of footer -->
{% endblock content %}