{% load static %}
{% block content %}
<div class="footer">
    <div class="col-1">
        <h5 class="first-text"><img class="medicine-logo" src="{%  static 'base/images/medicine-logo.png' %}" alt="medicine-logo">RE<span class="second-text-footer">MEDIC</span></h5>
    </div>
    <div class="menu-list">
        <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="{% url 'about_page' %}">About</a></li>
            <li> <a href="{% url 'department_page' %}">Departments</a></li>
            <li> <a href="{% url 'doctor_page' %}">Doctors</a></li>
            <li> <a href="{% url 'blog_page' %}">Blog</a></li>
            <li> <a href="{% url 'conatct_us_page' %}">Contact</a></li>
    </div>
    <!-- <p style="text-align: center; color: white;">&copy; remedic 2022</p> -->
</div>
{% endblock content %}