{% load static %}
{% block content %}
<!-- Navbar new -->
<nav class="navbar navbar-expand-md" id="navigation-contorl">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{%  static 'base/images/medicine-logo.png' %}" class="medical-logo-navbar" alt="medical-logo"> <span class="first-text-logo">RE</span><span class="second-text-logo">MEDIC</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navigation-contorl" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link menu" aria-current="page" href="/">Home</a>
          <a class="nav-link menu" href="{% url 'about_page' %}">About</a>
          <a class="nav-link menu" href="{% url 'department_page' %}">Department</a>
          <a class="nav-link menu" href="{% url 'doctor_page' %}">Doctors</a>
          <a class="nav-link menu" href="{% url 'blog_page' %}">Blog</a>
          <a class="nav-link menu" href="{% url 'conatct_us_page' %}">Contact</a>

        </div>
      </div>
    </div>
  </nav>
<!-- navbar end -->



{% endblock content %}