{% extends 'management/index.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="title-holder">
        <h5 class="title">Departments</h5>
    </div>

    <div class="body-wrapper">
        <button class="btn add-btn"><i class="small material-icons left">group_add</i> Add Departments</button>
    </div>
    <div class="display-list">
        <table class="striped">
        <thead>
          <tr class="row">
              <th class="col l5">Name</th>
              <th class="col l5">Desciption</th>
              <th class="col l2">option</th>
          </tr>
        </thead>

        <tbody>
          {% for deparment in departments %}
          <tr class="row">
            <td class="col l5">{{deparment.Department_name}}</td>
            <td class="col l5">{{deparment.Department_details}}</td>
            <td class="col l2">view more</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock content %}