{% extends 'management/index.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="title-holder">
        <h5 class="title">Doctors</h5>
    </div>

    <div class="body-wrapper">
        <button class="btn add-btn"><i class="small material-icons left">group_add</i> Add Doctors</button>
    </div>
    <div class="display-list">
        <table class="striped">
        <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Location</th>
              <th>Phone</th>
              <th>Department</th>
              <th>Option</th>
          </tr>
        </thead>

        <tbody>
          {% for doctor in doctors %}
          <tr>
            <td>Dr.{{doctor.Doctor_lastname}}</td>
            <td>{{doctor.Doctor_email_address}}</td>
            <td>{{doctor.Doctor_location}}</td>
            <td>{{doctor.Doctor_phone_number}}</td>
            <td>{{doctor.Doctor_department}}</td>
            <td>Options</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock content %}