{% extends 'management/index.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="title-holder">
        <h5 class="title">Medicines</h5>
    </div>

    <div class="body-wrapper">
        <button class="btn add-btn"><i class="small material-icons left">group_add</i> Add Medicine </button>
    </div>
    <div class="display-list">
        <table class="striped">
        <thead>
          <tr>
              <th>Name</th>
              <th>Amount</th>
              <th>Entered By</th>
              <th>Avialability</th>
              <th>Options</th>

          </tr>
        </thead>

        <tbody>
          {% for medicine in medicines  %}
          <tr>
            <td>{{medicine.name}}</td>
            <td>{{medicine.amount}}</td>
            <td>{{medicine.entered_by}}</td>
            <td>{{medicine.quantity_available}}</td>
            <td>Options </td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock content %}