{% extends 'management/index.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="title-holder">
        <h5 class="title">Patient</h5>
    </div>

    <div class="body-wrapper">
        <button class="btn add-btn"><i class="small material-icons left">group_add</i> Add Patient</button>
    </div>
    <div class="display-list">
        <table class="striped">
        <thead>
          <tr>
              <th>Patient ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Age</th>
              <th>Doctor</th>
              <th>Blood Group</th>
              <th>Genotype</th>
              
          </tr>
        </thead>

        <tbody>
          {% for patient in patients %}
          <tr>
            <td>{{patient.Patient_id}}</td>
            <td>{{patient.Patient_lastname}} {{patient.Patient_firstname}}</td>
            <td>{{patient.Patient_email_address}}</td>
            <td>{{patient.Patient_phone_number}}</td>
            <td>{{patient.Patient_age}}</td>
            <td>{{patient.Patient_doctor}}</td>
            <td>{{patient.Patient_blood_group}}</td>
            <td>{{patient.Patient_blood_genotype}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock content %}