{% extends 'management/index.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="title-holder">
        <h5 class="title">Profile Page</h5>
    </div>
    <div class="profile-details">
        <div class="image-holder">
            
        </div>
        <div class="profile-text">
            <h4>{{profile_details}}</h4>
            <h6>{{profile_details.Doctor_email_address}}</h6>
            <hr>
            <div class="row">
                <div class="col l6">
                    <label for="firstname">Firstname:</label>
                    <input type="text" name="firstname" id="firstname" value="{{profile_details.Doctor_firstname}}" disabled>
                    <label for="firstname">Lastname:</label>
                    <input type="text" name="lastname" id="lastname" value="{{profile_details.Doctor_lastname}}" disabled>
                    <label for="department">Department:</label>
                    <input type="text" name="department" id="department" value="{{profile_details.Doctor_department}}" disabled>
                </div>
                <div class="col l6">
                    <b>Dcotors Patients</b>
                    {% for patients in doctors_patient %}
                    <h6>{{patients}}</h6>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}