{% extends 'management/index.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="title-holder">
        <h5 class="title">Birth Reports</h5>
    </div>

    <div class="body-wrapper">
        <button class="btn add-btn"><i class="small material-icons left">group_add</i> Add Reports</button>
    </div>
    <div class="display-list">
        <table class="striped">
        <thead>
          <tr>
              <th>Name</th>
              <th>Desciption</th>
              <th>Doctor</th>
              <th>Delivery Date</th>
          </tr>
        </thead>

        <tbody>
          {% for birth_report  in birth_reports %}
          <tr>
            <td>{{birth_report.patient.Patient_lastname}} {{birth_report.patient.Patient_firstname}}</td>
            <td>{{birth_report.description}}</td>
            <td>Dr. {{birth_report.doctor.Doctor_lastname}} {{birth_report.doctor.Doctor_firstname}}</td>
            <td>{{birth_report.date_and_time}}</td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
</div>
{% endblock content %}