{% extends 'management/index.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="title-holder">
        <h5 class="title">Doctors</h5>
    </div>

    <div class="display-list">
        <h3>Doctors Details to Update</h3>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn">Update Profile</button>
        </form>
    </div>

    <!-- Nurse Sections -->
    <div class="title-holder">
        <h5 class="title">Nurse</h5>
    </div>

    <div class="display-list">
        <h3>Nurse Details to Update</h3>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn">Update Profile</button>
        </form>
    </div>

</div>
{% endblock content %}