{% extends 'base/index.html' %}
{% load static %}
{% block content %}
<div>
    <h4 class="about-remedic-title">About Remedic Management System🩺</h4>
    <div class="story-holder">
        Remedic Management System is an organized computerized system designed and 
        programmed to deal with day to day operations and management of the hospital 
        activities. The program can look after inpatients, outpatients, records, database 
        treatments, status illness, billings in the pharmacy and labs. It also maintains hospital 
        information such as ward id, doctors in charge and department administering. The 
        major problem for the patient nowadays to get report after consultation , many 
        hospital managing reports in their system but it's not available to the patient when he / 
        she is outside. In this project we are going to provide the extra facility to store the 
        report in the database and make available from anywhere in the world.

    </div>
    
</div>
{% endblock content %}