{% extends 'base/index.html' %}
{% load static %}
{% block content %}
<div>
    <h5 style="text-align: center;">Some Health Tips That Will help us Keep fit💪🏻</h5>
    <div class="story-holder-blog row">
        <div class="blog-text-holder col s10 m4 l5">
            <b>Blog Title</b>
            <pre class="doctors-name">by: Dr. Lorem, ipsum dolor.</pre>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur veritatis ab neque, eos fugiat sint tempora sunt sapiente labore et excepturi esse iure est. Voluptatibus sequi tenetur, corrupti nobis, magni ex deleniti blanditiis repellendus ut odio quaerat sit distinctio qui ducimus tempora, dicta dignissimos? Cupiditate, placeat repellendus? Fugiat, consectetur nulla.</p>
            <button class="continue-reading-btn">Continue Reading</button>
        </div>
        <!-- end of one blog -->
        <div class="blog-text-holder col s10 m4 l5">
            <b>Blog Title</b>
            <pre class="doctors-name">by: Dr. Lorem, ipsum dolor.</pre>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur veritatis ab neque, eos fugiat sint tempora sunt sapiente labore et excepturi esse iure est. Voluptatibus sequi tenetur, corrupti nobis, magni ex deleniti blanditiis repellendus ut odio quaerat sit distinctio qui ducimus tempora, dicta dignissimos? Cupiditate, placeat repellendus? Fugiat, consectetur nulla.</p>
            <button class="continue-reading-btn">Continue Reading</button>
        </div>

        <div class="blog-text-holder col s10 m4 l5">
            <b>Blog Title</b>
            <pre class="doctors-name">by: Dr. Lorem, ipsum dolor.</pre>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur veritatis ab neque, eos fugiat sint tempora sunt sapiente labore et excepturi esse iure est. Voluptatibus sequi tenetur, corrupti nobis, magni ex deleniti blanditiis repellendus ut odio quaerat sit distinctio qui ducimus tempora, dicta dignissimos? Cupiditate, placeat repellendus? Fugiat, consectetur nulla.</p>
            <button class="continue-reading-btn">Continue Reading</button>
        </div>
        <!-- end of one blog -->
        <div class="blog-text-holder col s10 m4 l5">
            <b>Blog Title</b>
            <pre class="doctors-name">by: Dr. Lorem, ipsum dolor.</pre>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur veritatis ab neque, eos fugiat sint tempora sunt sapiente labore et excepturi esse iure est. Voluptatibus sequi tenetur, corrupti nobis, magni ex deleniti blanditiis repellendus ut odio quaerat sit distinctio qui ducimus tempora, dicta dignissimos? Cupiditate, placeat repellendus? Fugiat, consectetur nulla.</p>
            <button class="continue-reading-btn">Continue Reading</button>
        </div>
    </div>
    <!-- one blog  -->
</div>
{% endblock content %}