{% extends 'base/index.html' %}
{% load static %}
{% block content %}
<div>
    <h5 style="text-align:center">Meet Our Physicians👩🏻‍⚕️</h5>
    <!-- Doctors Profile Card -->
    <div class="row">
    <!-- Another Doctor Card -->
        <div class="card col">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator doctors-logo" src="{% static 'base/images/doctors-icon.png' %}">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
            <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
        </div>
        <!-- End here -->
        <div class="card col s6 m3">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator doctors-logo" src="{% static 'base/images/doctors-icon.png' %}">
            </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                <p><a href="#">This is a link</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
            </div>
</div>
</div>
{% endblock content %}