{% extends 'base/index.html' %}
{% load static %}
{% block content %}

<!-- another -->
<h3 style="text-align: center;">Meet our physicians 👨🏻‍⚕️</h3>
<!-- card for a doctor -->
{% for doctor in doctors %}
<div class="main-content-holder">
  <div class="card container col-sm">
    <img src="{% static 'base/images/Young-Male-Doctor.png' %}" class="single-doctor" alt="a single doctor">
    <div class="card-text">
      <h4>Doctors Name</h4>
      <p>Notable Achievements</p>
      <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tenetur ratione repellendus molestias! Consequatur consequuntur cum autem quis laborum numquam explicabo blanditiis praesentium laboriosam accusamus rem tenetur, odio optio odit dignissimos ut, unde ab ullam enim beatae. Non molestias ratione maxime harum vel, magnam dolorum ut neque recusandae incidunt ad eligendi, obcaecati doloribus nisi beatae impedit commodi consequatur dicta unde, fugit assumenda deleniti quis ullam. Dolorum aperiam quis est laboriosam in tenetur beatae nisi recusandae ipsum autem. Aliquam, hic in?</p>
    </div>
  </div>
</div>
<!-- end of card -->
{% endfor %}
<!-- Another Card  -->
<div class="">
  <div class="card container col-sm">
    <img src="{% static 'base/images/Young-Male-Doctor.png' %}" class="single-doctor" alt="a single doctor">
    <div class="card-text">
      <h4>Doctors Name</h4>
      <p>Notable Achievements</p>
      <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tenetur ratione repellendus molestias! Consequatur consequuntur cum autem quis laborum numquam explicabo blanditiis praesentium laboriosam accusamus rem tenetur, odio optio odit dignissimos ut, unde ab ullam enim beatae. Non molestias ratione maxime harum vel, magnam dolorum ut neque recusandae incidunt ad eligendi, obcaecati doloribus nisi beatae impedit commodi consequatur dicta unde, fugit assumenda deleniti quis ullam. Dolorum aperiam quis est laboriosam in tenetur beatae nisi recusandae ipsum autem. Aliquam, hic in?</p>
    </div>
  </div>

{% endblock content %}