{% extends 'base/index.html' %}
{% load static %}
{% block content %}

<!-- </div> --> 
<img src="{% static 'base/images/doctor-carousel.jpeg' %}" alt="doctor-shaking-patient" class="image-background">
<div class="main-content">
  <div class="text-holder container">
      <h2 class="text-value-big">THE MOST VALUEABLE THING IS YOUR HEALTH</h2>
      <p class="text-value-small">We care about your Health Even the all-powerful Pointing has no control about the blind texts, it is an almost unorthographic life</p>
  </div>
</div>
<!-- End of body -->

<!-- form -->
 <form class="contact-us-form" method="post" action="">
     {% csrf_token %}
   <h3 style="text-align: center;">Make an Appointment</h3>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Fullname:</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="fullname" aria-describedby="emailHelp">
  
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address:</label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">(optional) Phone nummber:</label>
    <input type="tel" class="form-control" id="exampleInputEmail1" name="phone_number" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Reason for appointment:</label>
    <input type="text" class="form-control" name="reason-for-appointment" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Date of appointment:</label>
    <input type="date" class="form-control" name="date-of-appointment" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <button type="submit" class="btn btn-primary" id="submit-button" data-bs-toggle="modal" data-bs-target="#exampleModal">Submit</button>
</form>


  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         SUCCESS!!!
        </div>
      </div>
    </div>
  </div>
{% endblock content %}