*{
    margin: 0;
    border: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.first-text{
    color: lightseagreen;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3em;
}
.second-text{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* experimental */
.col-6{
    margin-left:200px;
    margin-top: -2.5em;
}
/* experimental */
.login-card{
    width: 400px;
    margin-top: 200px;

}
.login-btn{
    width: 340px;
}
.second-part{
    background-color: white;
    width:400px;
    /* border: 1px solid black; */
    height: 250px;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}
.input-login{
    width: 400px;
    margin: 2em;
}
li.menu{
    list-style: none;
    display: inline;
    color: white;
    margin-left: 3em;
}

.nav-container{
    background-color: white;
}

.text-holder{
    text-align: center;
    margin-top: 300px;
    margin-bottom: 100px;
    width: 700px;
    color: white;
    background-color: lightseagreen;
    overflow: hidden;

}
.main-content{
    overflow: hidden;
    background-color: lightseagreen;
    opacity:0.8;
    height: 715px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -715px;
    position: relative;
}   
.image-background{
    width:100%;
    overflow: hidden;
    height: 50%;
    opacity: 0.9;
}
.text-value-big{
    font-family: Arial, Helvetica, sans-serif;
}

.text-value-small{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
a:hover{
    color: lightseagreen;
}
.btn-text{
    color: white;
}
.btn-text:hover{
    color: white;
}
li:hover{
    color: lightseagreen;
}
.footer{
    background-color: black;
    overflow: hidden;
}
.second-text-footer{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.menu-list{
    margin-left: 1000px;
    margin-bottom: 2em;
    margin-top: -2em;
}
.last-menu{
    margin-right: 2em;
}
.appointment-holder{
    height: 500px;
    /* border: 2px solid black; */
    padding: 3em;
    /* background-color:rgb(247, 245, 245); */
    background-color:rgb(205, 225, 224);
    width: 500px;
    margin-left: 800px;
    margin-top: 2em;
    margin-bottom: 2em;

}
#reason-for-appointment{
    border: 1px solid gray;
    overflow: hidden;
}
.medicine-logo{
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
.remedic-logo{
    margin-left: 60px;
}
.doctor-holder{
    margin-left: 2em;
    margin-right: 2em;
}
.card-holder{
    margin-left: 2em;
}
.contact-title{
    text-align: center;
}
.sick-person{
    width: 300px;
    height: 300px;
    margin-left: 3em;
}
.illness-text{
    margin-left: 350px;
    margin-bottom: 3em;
    margin-top: -20em;
    line-height: 2em;
}
.left-sick-image{
    height: 400px;
    margin-top: -50em;
    margin-left: 1100px;
}
.story-holder{
    margin-left: 10em;
    margin-right: 10em;
    line-height: 2em;
    text-align: justify;
    font-size: 17px;
}
.about-remedic-title{
    text-align: center;
}
.message-for-doctor{
    border: 2px solid lightseagreen;
    height: 90px;
}
.message-for-doc-btn{
    background-color: lightseagreen;
    width: 200px;
    height: 40px;
    margin-bottom: 1em;
    border: seagreen;
    border-radius: 0.3em;
    color: white;
    font-weight: bold;
}
.leave-a-message-dialog{
    width: 500px;
    height: 350px;
    margin-left: 23em;
    display: block;
    border: 1px solid lightseagreen;
    padding: 2em;
    margin-bottom: 3em;
}  

.about-page-doctor{
    height: 300px;
    margin-top: -25em;  
}
.story-holder-2{
    margin-left: 29em;
}

.blog-text-holder{
    width: 400px;
    border: 1px solid lightseagreen;
    margin-left: 4em;
    padding: 1em;
    text-align: justify;
    margin-bottom: 2em;
}

.continue-reading-btn{
    background-color: lightseagreen;
    color: white;
    font-weight: bold;
    padding: 0.6em;
    border-radius: 0.3em;
    display: inline;
}
.doctors-name{
    margin-left: 10em;
    margin-top: -1.5em;
    opacity: 0.7;
}