{% block content %}
<div class="sider-bar">
    <ul class="sider-list">
        <li class="sider-options"><i class="small material-icons left">weekend</i>Dashboards</li>
        <li class="sider-options"><a href="{% url 'departments_page' %}"><i class="small material-icons left">domain</i>Departments</a></li>
        <li class="sider-options"><a href="{% url 'doctors_page' %}"><i class="small material-icons left">healing</i>Doctor</a></li>
        <li class="sider-options"><a href="{%  url 'patients_page' %}"><i class="small material-icons left">pregnant_woman</i>Patient</a></li>
        <!-- <li class="sider-options"><i class="small material-icons left">rate_review</i>Human Resources</li> -->
        <li class="sider-options"><a href="{% url 'financies_page' %}"><i class="small material-icons left">store</i>Financial Activities</a></li>
        <li class="sider-options"><a href="{% url 'medicine_page' %}"><i class="small material-icons left">receipt</i>Medicine</a></li>
        <li class="sider-options"><a href="{% url 'donors_page' %}"><i class="small material-icons left">people</i>Donor</a></li>
        <li class="sider-options"><a href="{% url 'beds_page' %}"><i class="small material-icons left">hotel</i>Bed</a></li>
        <li class="sider-options"><a href="{% url 'reports_page' %}"><i class="small material-icons left">note_add</i>Birth Report</a></li>
        <li class="sider-options"><a href="{% url 'profile_page' %}"><i class="small material-icons left">person</i>Profile</a></li>
        <li class="sider-options"><a href="{% url 'nurse_profile' %}"><i class="small material-icons left">person</i>Profile</a></li>
        <li class="sider-options"><a href="{% url 'logout' %}"><i class="small material-icons left">vpn_key</i>Log out</a></li>
    </ul>
</div>

{% endblock content %}