{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'base/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    <title>Hospital Management || Welcome </title>
<body>
    <div class="row">
        <div class="col-1">
            <h5 class="first-text"><img class="medicine-logo" src="{%  static 'base/images/medicine-logo.png' %}" alt="medicine-logo">RE<span class="second-text">MEDIC</span></h5>
        </div>
        <div class="col-6">
            <ul class="navbar">
                <li class="menu"> <a href="/">Home</a></li>
                <li class="menu"> <a href="#">About</a></li>
                <li class="menu"> <a href="#">Departments</a></li>
                <li class="menu"> <a href="#">Doctors</a></li>
                <li class="menu"> <a href="#">Blog</a></li>
                <li class="menu last-menu"> <a href="">Contact</a></li>
                <li class="btn"> <a href="" class="btn-text">Make an Appointment</a></li>
            </ul>
        </div>
    </div>
<!-- Image Holder with Blue over shape -->
<img src="{% static 'base/images/doctor-carousel.jpeg' %}" alt="background-image" class="image-background">
    <div class="main-content">
        <div class="text-holder container">
            <h2 class="text-value-big">THE MOST VALUEABLE THING IS YOUR HEALTH</h2>
            <p class="text-value-small">We care about your Health Even the all-powerful Pointing has no control about the blind texts, it is an almost unorthographic life</p>
        </div>
    </div>


<!-- Make an appointment Section -->
<div class="appointment-holder container">
    <div class="form-holder">
        <h6 style="text-align:center">Make an Appointment</h6>
        <form action="" method="post">
            <!-- Fullname -->
            <label for="full-name"><p>Full Name:</p></label>
            <input type="text" placeholder="Fullname" name="full-name" id="full-name">
            <!-- Email Address -->
            <label for="contact-email"><p>Contact Email (Optional):</p></label>
            <input type="text" placeholder="email@example.com" name="contact-email" id="contact-email">
            <!-- Date -->
            <label for="date-of-appointment"><p>Select a Date:</p></label>
            <input type="datetime-local" name="date-of-appointment" id="date-of-appointment">
            <!-- Reason For Appointment -->
            <label for="reason-for-appointment"><p>Reason for Appointment:</p></label>
            <textarea name="reason-for-appointment" id="reason-for-appointment" cols="30" rows="50"></textarea>
            <button class="btn">Make an Appointment</button>
        </form>

    </div>

</div>

<!-- Footer Section -->
<div class="footer">
    <div class="col-1">
        <h5 class="first-text"><img class="medicine-logo" src="{%  static 'base/images/medicine-logo.png' %}" alt="medicine-logo">RE<span class="second-text-footer">MEDIC</span></h5>
    </div>
    <div class="menu-list">
        <ul>
            <li> <a href="/">Home</a></li>
            <li> <a href="#">About</a></li>
            <li> <a href="#">Departments</a></li>
            <li> <a href="#">Doctors</a></li>
            <li> <a href="#">Blog</a></li>
            <li> <a href="">Contact</a></li>
    </div>
    <!-- <p style="text-align: center; color: white;">&copy; remedic 2022</p> -->
</div>
</body>
<script src="{% static 'base/js/materialize.js' %}"></script>
</html>