{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    <title>Hospital Management || Welcome </title>
<body>


<!-- Header component -->
{% include 'base/Components/nav_bar_component.html' %}
<!-- Header Componment ends -->
{% block content %}
<!-- Other pages are injected here  -->

{% endblock content %}
<!-- Footer Component -->
{% include 'base/Components/footer_component.html' %}
</body>
<script src="{% static 'base/js/materialize.js' %}"></script>
</html>